@use 'sass:map';
@use 'sass:math';

@use '../utils/variables' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;

.kiosk {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  //background: url(/assets/images/background.png) no-repeat 0 0;
}
.left{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10001;
  width: 35px;
  background-color: #45b035;
  height: calc(3840px - 322px);
}
.kiosk-header{
  height: 28px;
  background: url(/assets/images/header.png) no-repeat 0 0;
}

.kiosk-footer{
  height: 322px;
  background-color: #000;
}
#contents{
  //margin-left: 35px;
  width: calc(2160px);
  height: calc(3840px - 322px - 28px);
}

.swiper-container{
  //width: 2125px;
  //overflow: hidden;
}

.background{
  overflow: hidden;
}


.popup{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  .popup-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &.show{
    transition: all 0.3s ease-in-out;
    z-index: 10000;
    opacity: 1;
    visibility: visible;
  }
}

.popup-body{
  position: relative;
  .close{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 555px;
    height: 112px;
  }
}



.swiper-slide *{
  will-change: auto;
}
