
.page-4{
    .item2{
        position: relative;
        button{
            position: absolute;
            background-color: #000;
            width: 100px;height: 100px;
        }
        .btn1{
            left:0 ;
            top: 0;
        }
    }
}