<div class="page-9">
    <div class="title"><img src="/assets/images/page9-title.png" alt=""></div>
    <div class="content">
        <div class="item1"><img src="/assets/images/page9-img1.png" alt=""></div>
        <div class="item2">
            <img src="/assets/images/page9-obj1.png" alt="">
            <div class="a"><img src="/assets/images/page9-1.png" alt=""></div>
            <div class="b"><img src="/assets/images/page9-2.png" alt=""></div>
            <div class="c"><img src="/assets/images/page9-3.png" alt=""></div>
            <div class="d"><img src="/assets/images/page9-4.png" alt=""></div>
        </div>
        <div class="item3"><img src="/assets/images/page9-img2.png" alt=""></div>
        <div class="item4">
            <img src="/assets/images/page9-obj2.png" alt="">
            <div class="a"><img src="/assets/images/page9-5.png" alt=""></div>
            <div class="b"><img src="/assets/images/page9-6.png" alt=""></div>
            <div class="c"><img src="/assets/images/page9-7.png" alt=""></div>
            <div class="d"><img src="/assets/images/page9-8.png" alt=""></div>
        </div>
    </div>
    <div class="foot"><img src="/assets/images/page9-foot.png" alt=""></div>
</div>