<div class="page-6">
    <div class="content">
        <div class="item1"><img src="/assets/page6/img_01.png" alt=""></div>
        <div class="item2">
            <img src="/assets/page6/img_02.png" alt="">
            <div class="bar-conts bar-cont1">
                <div>
                    <div class="numbs">54.5</div>
                    <div class="bars"></div>
                </div>
            </div>
            <div class="bar-conts bar-cont2">
                <div>
                    <div class="numbs">47.9</div>
                    <div class="bars"></div>
                </div>
            </div>
            <div class="bar-conts bar-cont3">
                <div>
                    <div class="numbs">67.7</div>
                    <div class="bars"></div>
                </div>
            </div>
            <div class="bar-conts bar-cont4">
                <div>
                    <div class="numbs">40.1</div>
                    <div class="bars"></div>
                </div>
            </div>
            <div class="bar-conts bar-cont5">
                <div>
                    <div class="numbs">37.5</div>
                    <div class="bars"></div>
                </div>
            </div>
            
            <div class="bar-conts bar-cont6">
                <div>
                    <div class="numbs">51.0</div>
                    <div class="bars"></div>
                </div>
            </div>
        </div>
        <div class="item3">
            <img src="/assets/page6/img_03.png" alt="">
            <div class="bar-conts bar-cont1">
                <div>
                    <div class="line"><img src="/assets/images/page6-lin1.png" alt=""></div>
                    <div class="numbs">
                        93.47
                        <small>(17.95)</small>
                    </div>
                    <div class="bars"></div>
                </div>
            </div>
            <div class="bar-conts bar-cont2">
                <div>
                    <div class="line"><img src="/assets/images/page6-lin2.png" alt=""></div>
                    <div class="numbs">
                        90.14
                        <small>(25.64)</small>
                    </div>
                    <div class="bars"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="paging">
        <button></button>
        <button></button>
        <button></button>
        <button class="current"></button>
    </div>
    <div class="foot"><img src="/assets/page6/img_04.png" alt=""></div>
</div>